[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
boto3-stubs = {extras = ["s3"],version = "*"}
botocore-stubs = {git = "https://github.com/boto/botostubs.git",subdirectory = "botocore-stubs"}
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[packages]
boto3 = "*"
kafka-python = "*"
urllib3 = "*"
chardet = "*"

[requires]
python_version = "3.8"
